%main.container
  .row
    .col-md-5.mb-40
      = render partial: 'quick_registrations/partials/log_in_with_password'
    .col-md-5.col-md-offset-1.mb-60
      = render partial: 'quick_registrations/partials/quick_register'
