= link_to order_item_path(order_item, order_item: { quantity: -Constants::Order::QUANTITY_INCREMENT, book_id: book_id }), data: {'turbo-method' => :put}, class: 'input-link plus-link' do
  %i.fa.fa-minus.line-heaght-40
%input.form-control.quantity-input{type: "text", value: summary_quantity, readonly: "readonly"}
= link_to order_item_path(order_item, order_item: { quantity: Constants::Order::QUANTITY_INCREMENT, book_id: book_id }), data: {'turbo-method' => :put}, class: 'input-link minus-link' do
  %i.fa.fa-plus.line-heaght-40
