<p><%=I18n.t('mailer.password_change.hello', email: @resource.email)%></p>

<p><%=I18n.t('mailer.password_change.notify')%></p>

<p><%= link_to I18n.t('mailer.password_change.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=I18n.t('mailer.password_change.password_msg')%></p>
